@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:wght@400;500;700;900&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
html, body{
    font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
    width:100vw;
    min-width:100vh;
}
.container{
    width:100%;
    height:750px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.336),rgba(0, 0, 0, 0.336),rgba(0, 0, 0, 0.336)),url(Image/front-page-header.jpg);
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    overflow: hidden;
}
nav{
    width:90%;
    height:80px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    margin-top:20px;
    
}
.logo{
    cursor: pointer;
}
nav ul li{
    list-style-type: none;
    display:inline-block;
    margin:0px 8px;
}
nav ul li a{
    text-decoration:none;
    color:#fff;
    font-family:Arial, Helvetica, sans-serif;
    padding:0px 10px;
    font-weight:600;
    font-size:15px;
}
nav ul li a:hover{
    color:#ffff00;
}
/* close our nav */
/* close our nav */
.content{
    width:80%;
    height:1200px;
    margin:300px auto;
    text-align:center;
}
.content h1{
    font-size:75px;
    color:#fff;
    font-family:Arial, Helvetica, sans-serif;
}
.content p{
    width:67%;
    margin:20px auto;
    color:#fff;
    font-family:sans-serif;
    padding:10px 0px;
    line-height:30px;
}
.btn{
    width:80%;
    margin:auto;
}
.btn input{
    padding:20px 80px;
    font-size:18px;
    text-align:center;
    font-weight:600;
    margin:0px 15px;
    cursor:pointer;
    border-radius:3px;
}
.btn a{
    text-decoration:none;
}
.btn .btn1{
    border:2px solid #fff;
    background:inherit;
    color:#fff;
}
.btn .btn2{
    color:#ffffff;
    background-color:#d2d208;
    border:none;
    outline:none;
}
.btn .btn1:hover{
    background-color:#00000014;
}
.btn .btn2:hover{
    background-color:rgb(4, 80, 80);
}
/* close container section */
/* close container section */
.section3{
    width:100%;
}
.section3 h1{
    font-size:35px;
    font-family:sans-serif;
    text-align:center;
    margin:100px 0px;
    opacity:70%;
    font-weight:800;
}
.section3 p{
    width:80%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    margin:auto;
    line-height:30px;
    text-align:justify;
    opacity:60%;

}
.skill{
    width:90%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:50px auto;
}
.skill .skills img{
    width:350px;
    padding-bottom:15px;
}
.skills{
    font-size:18px;
    font-family:Arial, Helvetica, sans-serif;
    opacity:70%;
    font-weight: 600;
    
}
.skill .skills i{
    font-size:20px;
    padding-right:10px;
    cursor: pointer;
}
/* close our section3 */
/* close our section3 */
/* close our section3 */
.section4{
    width:100%;
    height:auto;
}
.section4 .sec-text{
    width:100%;
    height:200px;
    background-color:#ddd;
    display:flex;
    flex-flow:column wrap;
    align-items:center;
    justify-content: center;

}
.section4 .sec-text h2{
    font-size:40px;
    margin-bottom:10px;
}
.gallery{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    height:auto;
}

.gallery a img{
    width:315px;
    height:auto;
    object-fit: cover;
    object-position: center;
    transition:all .3s ease;
}
.gallery a img:hover{
    opacity: 60%;
}

/* close the section4 */
.testimonial-container{
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(105,75,135,0.3),rgba(105,75,135,0.3),rgba(105,75,135,0.3)),url(Image/background.jpg);
    background-size:cover;
    background-position:center;
    margin-top:-4px;
    overflow: hidden;
}
.testimonial-container h2{
    margin:40px 0px;
    text-align:center;
    font-size:35px;
    color:#fff;
    text-shadow: 0 2px 3px black;
    font-weight: 800;
}
.testimonial-container-img{
    text-align:center;
    margin-bottom:40px;
   
}
.testimonial-container-img img{
    border-radius:50%;
    object-fit:cover;
    object-position: center;
}
.testimonial-para{
    width:80%;
    height:150px;
    margin:auto;
    background-color:#6A4D8A;
    display:flex;
    align-items:center;
    justify-content: center;
    margin-bottom:40px;
}
.testimonial-para p{
    padding:0px 40px;
    text-align:justify;
    line-height:1.5rem;
    color:#ffffffbb;
}
.testimonial-container h3{
    text-align:center;
    color:#fff;
    font-size:20px;
}
/* close the section4 */
/* close the section4 */
.service-container{
    width:100%;
    height:500px;
    overflow: hidden;
}
.service-container-header{
    text-align:center;
    margin:60px 0px;
}
.service-container-header h1{
    font-size:40px;
    font-weight:600;
    margin-bottom:5px;
}
.service-container-header h1,p{
    color:#000000a5;
}
.serviceflex{
    display:flex;
    justify-content: space-evenly;
    gap:20px;
    width:90%;
    height:100%;
    margin:auto;
    text-align:center;
}
.serviceflex-item{
    padding:10px;
}
.serviceflex-item i,h2{
    font-size:26px;
    font-weight: 800 !important;
}
.serviceflex-item h2{
    margin:10px 0px;
}
.serviceflex-item p{
    color:#0000008e;
    line-height:1.8rem;
    font-weight: 600;
}
.serviceflex-item .color-1{
    color:#F18B6D;
}
.serviceflex-item .color-2{
    color:#d2d208;
}
.serviceflex-item .color-3{
    color:#6A4D8A;
}
/* close the section5 */
/* close the section5 */
.news-container{
    width:100%;
    height:400px;
    background-color:#222F36;
}
.news-container-text{
    width:63%;
    height:100%;
    margin:auto;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow:column wrap;
}
.news-container-text h1{
    color:#fff;
    font-size:35px;
    font-weight:700;
}
.news-container-text p{
    color:#ffffffa0;
    text-align:center;
    margin-top:10px;
    margin-bottom:50px;
}
.news-btn{
    width:150px;
    height:50px;
    background-color:#6A4D8A;
    border-radius:3px;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:all .3s ease;
}
.news-btn input{
    background-color:inherit;
    border:none;
    outline:none;
    color:#fff;
    font-weight: bold;
    margin-left:10px;
}
.news-btn i{
    color:#fff;
}
.news-btn:hover{
    background-color:#ffff00;
}
/* close the section news-container */
/* close the section news-container */
.image-gallery{
    width:100%;
    height:auto;
    background-color:#222F36;
    display:flex;
    justify-content: space-evenly;
    
}
.image-container{
    width:30%;
    height:auto;
}
.image-container img{
    width:100%;
    height:auto;
}
.image-container .gallery-text{
    background-color:#fff;
    margin-bottom:100px;
    padding:30px;
    margin-top:-4px;
}
.gallery-text h2{
    color:#8c9597;
    font-weight:700 !important;
}
.gallery-text p{
    color:#ACB2B4;
    margin:50px 0;
    line-height:1.5rem;
}
.gallery-text a{
    text-decoration:none;
    color:#f1d204;
    font-size:15px;
    font-weight:normal;
    transition:all .3s ease;
}
.gallery-text a i{
    margin-right:10px;
}
.gallery-text a:hover{
    color:#6A4D8A;
}
/* close the image gallery section */
/* close the image gallery section */
.show-client{
    width:100%;
    height:auto;
    background-image:url(Image/front-page-counter.jpg);
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    margin-bottom:100px;
}
.show-container{
    width:100%;
    height:150px;
    display:flex;
    align-items:center;
    justify-content:space-around;
}
.show-container p{
    color:#fff;
    font-weight:bold !important;
    font-size:20px;
}
.left{
    position:relative;
}
.left::before, .left::after{
    content:"";
    position:absolute;
    bottom:0px;
    width:1px;
    height:35px;
    background-color:#fff;
}
.left::before{
    right:250px;
}
.left::after{
    left:250px;
}
.team-container{
    width:100%;
    height:auto;
    background-color:#fff;
    overflow: hidden;
}
.tema-header{
    width:60%;
    margin:80px auto;
    text-align:center;
}
.tema-header h1{
    font-size:35px;
    padding-bottom:10px;
    font-family: 'Poppins', sans-serif;
    color:#000000ad;
}
.tema-header p{
        font-family: 'Lato', sans-serif;
        color:#8c9597;
}
.container-child{
    width:90%;
    display:flex;
    justify-content: space-around;
    margin:0 auto;
}
.team-container-child{
    display:flex;
    padding:10px;
}
.team-container-child-img img{
    border-radius:50%;
}
.team-container-child-text{
    margin-left:20px;
}
.team-container-child-text h2{
    color:#5e5e5e;
    padding-bottom:10px;
}
.team-container-child-text .para1{
    padding-bottom:20px;
}
#color1{
    color:#f18b6d;
}
#color2{
    color:#f1d204;
}
#color3{
    color:#6a4d8a;
}
.team-container-child-text p{
    color:#8c9597;
    line-height:25px;
    font-size:16px;
    padding-bottom:10px;
}
.team-icons1 a{
    border:1px solid #f18b6d;
    border-radius:50%;
    padding:5px 10px;
}
.team-icons1 a i{
    font-size:13px;
}
.team-icons2 a{
    border:1px solid #f1d204;
    border-radius:50%;
    padding:5px 10px;
}
.team-icons2 a i{
    font-size:13px;
}
.team-icons3 a{
    border:1px solid #6a4d8a;
    border-radius:50%;
    padding:5px 10px;
}
.team-icons3 a i{
    font-size:13px;
}
/* close the client show section */
/* close the client show section */
.contactUs-container{
    width:100%;
    height:auto;
}
.contactUs-header{
    width:100%;
    display:flex;
    justify-content: center;
}
.contactUs-header h1{
    font-size:35px;
    color:#000000ba;
    margin:40px;
}
.contact-social-box{
    width:90%;
    display:flex;
    margin:40px auto;

}
.contact-box-container{
    width:70%;
    display:flex;
    justify-content: space-between;
}
.contact-box-child{
    display:flex;
    width:350px;
    padding:10px;
}
.contact-box-child p:not(.contact-box-child-para){
    color:#0000006c;
}
.contact-box-child-para{
    margin-right:30px;
    width:100px;
    border-right:1px solid #000;
    color:#F1D204;
}
#goo{
    width:300px;
}
#doo{
    width:400px;
}

.social-contactus{
    margin-left:auto;
}
.social-contactus i{
    margin-left:10px;
    color:#8c9597;
    transition:all .3s ease;
}
.social-contactus i:hover{
    color:#000;
}
label{
    display:block;
}
.input-box{
    width:90%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
}
.input-box-child label,.text-area-box label{
    padding-bottom:10px;
    color:#00000056;
    font-weight:700;
}
.input-box-child input{
    width:350px;
    padding:10px;
    background-color:#FCFCFC;
    border:1px solid #878686;
}
.text-area-box{
    width:90%;
    margin:0 auto;
    margin-top:10px;
}
.text-area-box input{
    width:100%;
    height:200px;
    background-color:#FCFCFC;
    border:1px solid #878686;
}